{# Automatically extends the right outer layout and also handles AJAX siutations #}
{% extends data.outerLayout %}

{% set title = data.piece.title or data.page.title %}
{% block title %}
  {{ title }}
  {% if not title %}
    {{ apos.log('Looks like you forgot to override the title block in a template that does not have access to an Apostrophe page or piece.') }}
  {% endif %}
{% endblock %}

{% block beforeMain %}
<div class="bp-wrapper">
  <header class="bp-header">
    <nav class="bp-nav flex flex-row gap-2">
      {% if data.home._id == data.page._id %}
        <li class="list-none font-bold">
          <a href="/">Startseite</a>
        </li>
      {% else %}
        <li class="list-none">
          <a href="/">Startseite</a>
        </li>
      {% endif %}

      {% for page in data.home._children %}
        {% if page._id == data.page._id %} 
        <li class="list-none font-bold">
          <a href="{{ page._url }}">{{ page.title }}</a>
        </li>
        {% else %}
        <li class="list-none">
          <a href="{{ page._url }}">{{ page.title }}</a>
        </li>
        {% endif %}
      {% endfor %}
    </nav>
    {% if not data.user %}
      <a class="bp-button bp-header__login" href="/login">Login</a>
    {% endif %}
  </header>
  <main class="bp-main">
{% endblock %}

{% block main %}
  {#
    Normalerweise überschreiben Ihre Seitenvorlagen im Modul @apostrophecms/pages
    diesen Block. Es ist davon auszugehen, dass Ihr seitenbezogener Inhalt hier
    sein sollte.
  #}
{% endblock %}

{% block afterMain %}
  </main>
  <footer class="bp-footer">
    <h4>Testseite Apostrophe CMS</h4>
  </footer>
</div>{# Close .bp-wrapper #}
{% endblock %}
